body{
    margin: 0px;
    background-color: #ddffe7;
}

.barradeNavegacao{
    display: flex;
    background-color: #0b3c5d;
    width: 90%;
    height: 100%;
    border-radius: 100px;
    margin-left: 10% ;
    margin-right: 6%;

    img{
        padding: 1% 4%;
        width: 7rem;
        height: 7rem;
    }
    a{
        text-decoration: none;
        color: white;
        font-family:'Lucida Sans Unicode';
    }
    li{

        list-style: none;
    }
    ul{
        display: flex;
    }
}

.nav-Barra-de-navegacao{
    text-decoration: none;
    padding: 3.5%;
    text-align: center;
    a{
        padding: 0rem 2rem;
        display: block;
    }
    a:hover { 
        color: rgb(93, 221, 93);
    }
}


main{
   margin: 0;
    

}

.fundoI{
    background-image: url('imagemods1.jpg');
    text-align: center;
    color: #fffdf6;
    font-size:x-large;
    padding: 3rem;
    background-size: cover;
    background-position-y: 500rem;
}
.aquecimento-global{
    margin-left: 500px;
    margin-right: 20px;
    background-color: aquamarine;
    border-radius: 50px;
    padding: 100px;
    display: flex;
    margin-top: 20px;

}